/* generals */
.container_small {
    max-width: 1340px;
    margin: 0 auto;
}

.container_big {
    max-width: 1400px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

/* header */
#header a{
    color: black;
}

#header .dropdown-toggle {
    display: flex;
    align-items: center;
}


#header .dropdown-toggle::after {
    border: none;
    content: '\f107';
    font: var(--fa-font-solid);
}

/* hero */
.hero .hero_top {
    /* height: 700px; */
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    color: white;
    background-position: center;
}

.hero .card-body {
    margin-top: 360px;
}


/* section-1 */
.section_1 .card h5 {
    color: blue;
    font-size: 1rem;
}

.section_1 .col img {
    max-width: 100%;
}

.section_1 .bottom_carousel .col {
    filter: opacity(0.8);
    cursor: pointer;
}

.section_1 .bottom_carousel .col:hover{
    filter: opacity(1);
    border-bottom: 2px solid aqua;
}


.section_1 .col .card-body h5{
    font-size: 1rem;
}

.section_1 .col:nth-child(2) .card-body h5::after,
.section_1 .col:nth-child(3) .card-body h5::after
{
    content: '\2122';
}


/* section_2 */
.section_2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    color: white;
    background-position: center;
}

/* .section_2 .card-body {
    margin-top: 360px;
} */

.section_2 img {
    max-height: 90px;
    /* position: absolute;
    top: 0;
    left: 0; */
}

@media screen and (min-width: 768px) {
    .section_2 img {
        max-height: 200px;
    }
}


/* section_5 */
.section_5 {
    background-color: #BEBCBB;
}

.section_5 .btn {
    
}

.section_5 .ps_logo {
    max-width: 50%;
}





.debug{
    background-color: yellow;
    border: 2px solid blue;
    height: 100px;
}