/* generals */
.container_small {
    max-width: 1340px;
    margin: 0 auto;
}

.container_big {
    max-width: 1400px;
    margin: 0 auto;
}




.debug{
    background-color: yellow;
    border: 2px solid blue;
    height: 100px;
}