/* generals */
.container_small {
    max-width: 1340px;
    margin: 0 auto;
}

.container_big {
    max-width: 1400px;
    margin: 0 auto;
}


/* header */
#header a{
    color: black;
}

#header .dropdown-toggle {
    display: flex;
    align-items: center;
}


#header .dropdown-toggle::after {
    border: none;
    content: '\f107';
    font: var(--fa-font-solid);
}

/* hero */
.hero .hero_top {
    /* height: 700px; */
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    color: white;
    background-position: center;
}

.hero .card-body {
    margin-top: 360px;
}


/* section-1 */
.section_1 .card h5 {
    color: blue;
    font-size: 1rem;
}

.section_1 .col img {
    max-width: 100%;
}

.section_1 .col .card-body {
    margin-top: 100px;
}

.section_1 .col .card-body img {
    max-width: 50%;
}

.section-1 .col .card-body h5{
    font-size: 1rem;
}





.debug{
    background-color: yellow;
    border: 2px solid blue;
    height: 100px;
}