/* generals */
.container_small {
    max-width: 1340px;
    margin: 0 auto;
}

.container_big {
    max-width: 1400px;
    margin: 0 auto;
}


/* header */
#header a{
    color: black;
}

#header .dropdown-toggle::after {
    border: none;
    content: '\f107';
    font: 500;
}

/* hero */
.hero .hero_top {
    /* height: 700px; */
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    color: white;
    background-position: center;
}

.hero .card-body {
    margin-top: 360px;
}






.debug{
    background-color: yellow;
    border: 2px solid blue;
    height: 100px;
}