/* generals */
:root {
    font-family: 'Anek Latin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    --bs-font-sans-serif: 'Roboto', sans-serif;
}

body {
    --bs-body-font-family: var(--bs-font-sans-serif);
}

h2 {
    font-size: 3rem;
    font-weight: bold;
}

footer h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.875rem;
    font-weight: bold;
}

.p_small {
    font-size: 1.125rem;
}

.p_big {
    font-size: 1.375rem;
}

img {
    max-width: 100%;
}

/* header */
.header a{
    color: black;
}

.header .dropdown-toggle {
    display: flex;
    align-items: center;
}

.header .dropdown-toggle::after {
    border: none;
    content: '\f107';
    font: var(--fa-font-solid);
}

/* hero */
.hero .hero_top {
    background-image: url(../img/jumbo-bg.png);
}

.hero .hero_top,
.section_2 {
    background-size: cover;
    color: white;
    background-position: center;
}

.hero .card-body {
    margin-top: 360px;
}

.hero .card-body .logo_returnal{
    height: 70px;
}


/* section-1 */
.section_1 .card h5 {
    color: blue;
    font-size: 1rem;
}

.section_1 .bottom_carousel .col {
    filter: opacity(0.8);
    cursor: pointer;
    position: relative;
}

.section_1 .bottom_carousel .col:hover{
    filter: opacity(1);
}

.section_1 .bottom_carousel .col:hover::after {
    content: "";
    display: block;
    height: 2px;
    background-color: aqua;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.section_1 .col:nth-child(2) .card-body h5::after,
.section_1 .col:nth-child(3) .card-body h5::after
{
    content: '\2122';
}


/* section_2 */
.section_2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.section_2 img {
    max-height: 90px;
}

@media screen and (min-width: 768px) {
    .section_2 img {
        max-height: 200px;
    }
}


/* section_5 */
.section_5 {
    background-color: #BEBCBB;
}

.section_5 .ps_logo,
.section_7 .ps_logo {
    max-width: 50%;
}

/* section_7 */
.section_7 {
    background-color: #161C3B;
}


/* footer */
/* footer_top */

@media screen and (min-width: 992px){
    .footer_top .col {
        max-width: calc(100% / 8);
    }
}


/* footer_bottom */
.footer_bottom {
    background-color: #01439C;
}

.footer_bottom .col a {
    text-decoration: none;
    color: white;
}

.footer_bottom .sony_logo {
    max-height: 60px;
}

.footer_bottom ul {
    padding: 0;
    margin: 0;
}