/* generals */
.container_small {
    max-width: 1340px;
    margin: 0 auto;
}

.container_big {
    max-width: 1400px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

/* header */
#header a{
    color: black;
}

#header .dropdown-toggle {
    display: flex;
    align-items: center;
}

#header .dropdown-toggle::after {
    border: none;
    content: '\f107';
    font: var(--fa-font-solid);
}

/* hero */
.hero .hero_top {
    background-image: url(../img/jumbo-bg.png);
}

.hero .hero_top,
.section_2 {
    background-size: cover;
    color: white;
    background-position: center;
}

.hero .card-body {
    margin-top: 360px;
}

.hero .card-body .logo-returnal{
    max-height: 30px;
}

/* @media screen and (min-width: 992px){
    .hero .card-body .logo-returnal{
        height: 30px;
    }
}

@media screen and (min-width: 768px){
    .hero .card-body .logo-returnal{
        height: 25px;
    }
}

@media screen and (min-width: 576px){
    .hero .card-body .logo-returnal{
        height: 15px;
    }
} */

/* section-1 */
.section_1 .card h5 {
    color: blue;
    font-size: 1rem;
}

.section_1 .bottom_carousel .col {
    filter: opacity(0.8);
    cursor: pointer;
    position: relative;
}

.section_1 .bottom_carousel .col:hover{
    filter: opacity(1);
    /* border-bottom: 2px solid aqua; */
}

.section_1 .bottom_carousel .col:hover::after {
    content: "";
    display: block;
    height: 2px;
    background-color: aqua;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


.section_1 .col .card-body h5{
    font-size: 1rem;
}

.section_1 .col:nth-child(2) .card-body h5::after,
.section_1 .col:nth-child(3) .card-body h5::after
{
    content: '\2122';
}


/* section_2 */
.section_2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.section_2 img {
    max-height: 90px;
}

@media screen and (min-width: 768px) {
    .section_2 img {
        max-height: 200px;
    }
}


/* section_5 */
.section_5 {
    background-color: #BEBCBB;
}

.section_5 .ps_logo,
.section_7 .ps_logo {
    max-width: 50%;
}

/* section_7 */
.section_7 {
    background-color: #161C3B;
}


/* footer */
/* footer_top */

@media screen and (min-width: 992px){
    .footer_top .col {
        max-width: calc(100% / 8);
    }
}


/* footer_bottom */
.footer_bottom {
    background-color: #01439C;
}

.footer_bottom .col a {
    text-decoration: none;
    color: white;
}

.footer_bottom .sony_logo {
    max-height: 60px;
}

.footer_bottom ul {
    padding: 0;
    margin: 0;
}