/* generals */
.container_small {
    max-width: 1340px;
    margin: 0 auto;
    border: 2px solid red;
}

.container_big {
    max-width: 1400px;
    margin: 0 auto;
}


/* header */
#header a{
    color: black;
}

/* hero */
.hero .hero_top {
    height: 700px;
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    color: white;
}


/* .hero .hero_bottom img {
    max-height: 100px;
} */






.debug{
    background-color: yellow;
    border: 2px solid blue;
    height: 100px;
}